.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 100px;
  /* padding-top: 20px; */
  padding: 10px;
}

.App-header {
  background-color: #025;
  height: 180px;
  padding-top: 20px;
  padding-bottom: 0.1%;
  color: #F50;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
